@charset "ISO-8859-1";
*{
    box-sizing: border-box;
}
.column{
    float: left;
    height: 450px;
    padding: 10px;
}
.left,.middle{
    width: 30%; 
    text-align: center;
    padding-top: 100px;
    font-family:cursive;

}
.right{
    width: 40%;
}
.row:after{
    content: "";
    display: table;
    clear: both;
}
#link{
    background-color: green;
    color: antiquewhite;
    padding: 10px 25px;
}
footer {
    text-align: center;
    padding: 3px;
    background-color:black;
    color: white;
  }